**Introduction to Python**

In [5]:
print("Hello World!")
print("Welcome")
a = 500
b = 600
c = a + b
print("So the sum of {} and {} is {}".format(a,b,c))

Hello World!
Welcome
So the sum of 500 and 600 is 1100

In [1]:
# Declaring and assigning value to a variable
a = "Apple"
print(a)

# Changing value of a variable
a = "Aeroplane"
print(a)

a = 100
print(a)

# Assigning multiple values to a variable
b, c, d = 1, 2.5, "Hello"
print(b, c, d)

# Assigning sameo value to multiple variables
b = c = d = 5
print(b, c, d)

Apple
Aeroplane
100
1 2.5 Hello
5 5 5